
/* --- LOGIN --- */
.container{
    padding-top: 3em;
}

/* --- FIN LOGIN --- */

/* boton cerrar sesion */

.btn-outline-danger{
    border-radius: 1em;
}



/* --- REPORTES --- */

.accordion{
    padding-top: 2em;
}

#alto:not(.collapsed) {
    color: white;
    background-color: tomato;
}

#alto:not(.collapsed) .accordion-button::after {
    color: white; /* Cambiar el color de la flecha cuando el botón está expandido */
}


#normal:not(.collapsed){
    color: white;
    background-color: limegreen;
}

#bajo:not(.collapsed){
    color: white;
    background-color: darkcyan;
}

.prioridad{
    display: flex;
    padding-left:70%;
    padding-right: 1em;
  }



/* --- FIN REPORTES --- */


/* --- PERFIL --- */

/* Estilos personalizados */
.profile-card {
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    }
    
.profile-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
  
.profile-header h2 {
    margin-bottom: 0;
    }

.profile-body {
    padding: 20px;
    }

/* --- FIN PERFIL --- */


/* --- USUARIO --- */
/* Agrega este código al final de tu archivo CSS (index.css) */
.table-bordered {
    border-color: #7FB3D5; /* Color celeste */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #7FB3D5; /* Bordes de 1px de grosor */
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Large Devices, 992px and up */
@media (max-width: 992px) {
    
    #btneliminar{
        margin-top: 0.5em;
    }
  }


